<div class="jumbotron jumbotron-fluid border border-primaru">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-1 text-white">pupper&nbsp;<i class="fas fa-paw"></i></h1>
        <p class="lead text-white">Dog parks aren't always the best place to play. Let Pupper help you arrange a playdate with the perfect match for your pup.</p>
      </div>
    </div>
  </div>
</div>