#logo {
    font-family: 'Lobster', cursive;
    font-size: 185px;
}

#paw {
    font-size: 135px;
}

.jumbotron {
    padding-top: 10px;
}

#jumbo-main {
    padding-top: 75px;
}

body {
    background: ghostwhite;
}

#footer-text {
    font-size: 12px;
}

#contactbox {
    width: 400px;
}